@import url('font-face.css');

*,*::after,*::before {
  box-sizing: border-box;
}

html {
  height: calc(100vh - calc(100vh - 100%));
  overflow-x: hidden;
  width: 100vw;

  scrollbar-color: #616161 #373737;
  scroll-padding-top: 7.5rem;

  background-color: #373737;
  background-image: url("../assets/prism.png");
  background-repeat: repeat;
  background-size: cover;
}

html::-webkit-scrollbar {
  width: 7.5px;
}

html::-webkit-scrollbar-track {
  background: #373737;
}

html::-webkit-scrollbar-thumb {
  background: #616161;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #696969;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, .5);
  transition: ease-in-out 200ms;
}

a:hover {
  color: rgba(255, 255, 255, 1);
} 

/* ------- */

.main-parent {
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.25);
  min-height: 100%;
  max-width: 60em;
}

/* NAV */

nav {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  background-color: rgba(0, 0, 0, .25);
  padding: 2em 1em;
  gap: 1rem;
  flex: 0 1 auto;
}

nav .title {
  font-size: 1.25em;
  font-weight: bold;
  color: #fff;
}

nav .footer {
  margin-top: auto;
  font-size: 0.75em;
  color: rgba(255, 255, 255, .25);
}

.menu {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  gap: 1em;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  font-size: 1.25em;
  color: rgba(255, 255, 255, .5);
  transition: ease-in-out 200ms;
}

.menu li a:hover {
  color: #fff;
} 

/* Contents */

main {
  display: grid;
  place-items: center;
  color: white;
  padding: 1.25em;
  font-size: 1em;
  line-height: 1.5;
  flex: 1 1 auto;
}

/* Home */

.home {
  flex-flow: column;
  text-align: center;
}

/* Profile */

.profile {
  display: flex;
  flex-flow: row;
}

.profile > .info  {
  padding: 2em;
  max-width: 22.5em;
}

.profile > .info > ul {
  list-style-type: '-  ';
  padding-inline-start: 0.75rem;
}

.profile > .illust {
  max-width: 20em;
}

.profile > .illust > img {
  width: 100%;
}

/* Downloads */

.downloads {
  flex-flow: column;
}

.downloads ul {
  list-style: none;
  margin: 0.25rem 0;
  padding: 0;
}

.downloads h1 {
  text-align: center;
}

.dl-card h2 {
  margin: 0.25rem 0;
}

.dl-card {
  background-color: rgba(0, 0, 0, .25);
  padding: 2rem;
  width: 15rem;
  aspect-ratio: 1;
}

/* Queries */

@media all and (max-width: 450px ) {
  .main-parent {
    flex-flow: column;
  }
  
  nav {
    padding: 1em;
    gap: 0.5em;
    flex-flow: row;
    flex-wrap: wrap;
  } 
  
  .menu {
    flex-flow: row;
  }
}

@media all and (max-width: 775px ) {
  .profile { 
    flex-flow: column-reverse;
    gap: 1em;
  }
  
  .profile > .info  {
    padding: 1em;
  }
  
  .profile .illust {
    margin: 0 auto;
    overflow: hidden;
    aspect-ratio: 1 / 1;
  }
  
  .profile > .illust > img {
    width: 135%;
    margin-left: -25px;
  }
}
